/* ESTILO DA CAIXA DE ENTRADA ONDE O USUARIO COLOCA SEU NOME */
.caixa-entrada{
    text-align: center;
    align-items: center;
}

/* ESTILO DA PAGINA DE NÃO ENCONTRADA ERROR 404 */
.not-page{
    text-align: center;
}

/* ESTILO DA PAGINA DO ADM */
.adm{
    text-align: center;
}

/* ESTILO DA PARTE DE CARREGAMENTO DE AMIGOS DE ORAÇÃO */
.carregamento{
    display: none;
}