/* ESTILO DA CAIXA DE ENTRADA ONDE O USUARIO COLOCA SEU NOME */
.caixa-entrada{
    text-align: center;
    align-items: center;
}

/* ESTILO DA PAGINA DE NÃO ENCONTRADA ERROR 404 */
.not-page{
    text-align: center;
}

/* ESTILO DA PAGINA DO ADM */
.adm{
    text-align: center;
    display: block;
    margin-top: 5vh;
}

/* ESTILO GERAL PARA TODO CONTEUDO */
.conteudo{
    text-align: center;
    display: block;
    margin-top: 5vh;
}

/* ESTILO DA CITAÇÃO */
.msg{
    width: 50vw;
    display: inline-block;
    font-style: italic;
    font-weight: 450;
}

/* NOME DO LIVRO DA CITAÇÃO */
.livro{
    font-weight: 600;
}

/* TITULO PRINCIPAL DA PAGINA ATUAL */
.titulo-pessoas{
    font-size: 30px;
}

/* CONTAINER DAS INFOS ABAIXO DA CITAÇÃO */
.container-pessoas{
    margin-top: 5vh;
}

/* ESTILO ONDE MOSTRA O NOMES DAS PESSOAS QUE ESTÃO PARTICIPANDO */
.nomesParticipando{
    font-size: 16px;
}

/* SPINNER DE CARREGAMENTO */
.spinner-border{
    display: 'block';
    height: 10vh !important;
    width: 10vh  !important;
    font-size: 2rem  !important;
    color: lightgrey  !important;
    margin-top: 4vh;
}

/* MENSAGEM REVELANDO O NOME DO AMIGO DE ORAÇÃO */
.oracao{
    font-style: normal;
    font-size: 16px;
    margin-top: 4vh;
}

/* ESTILO DO NOME DA PESSOA QUE IRA APARECER NA MENSAGEM */
.nomePessoaOracao{
    display: inline;
    font-weight: 600;
}