body{
    background-color: #FFF8DC;
    color: #003366;
}

input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #003366;
    border-radius: 0px !important;
    background-color: #FFF8DC !important;
}

input:focus{
    outline: none;
}

.inputCriarSala{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #003366;
    border-radius: 0px !important;
    background-color: #ffffff !important;
    text-align: center;
    font-size: 20px;
    color: #003366 !important;
}

/* estilo do conteudo dentro da pagina */
.conteudoPagina{
    margin: auto;
    width: 100%
}

/* texto */
@media (orientation:landscape) {
    .texto {
        font-size: 26px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin-top: 2vh;
    }

    .nomeSala{
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin-top: 2vh;
        font-weight: 400;
    }
}
@media (orientation:portrait) {
    .texto {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin-top: 2vh;
    }

    .nomeSala{
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin-top: 2vh;
        font-weight: 400;
    }
}


.inserirToken{
    padding-top: 15vh;
}

label{
    padding-bottom: 2vh;
}

#inserirToken{
    text-align: center;
    color: #003366;
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #ffffff;
    width: 220px;
    border-radius: 8px;
    letter-spacing: 5px;
}

.inserirNome{
    padding-top: 15vh;
}

#inserirNome{
    text-align: center;
    color: #003366;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #ffffff;
    width: 220px;
    border-radius: 8px;
}

.btnGreen{
    border-radius: 8px;
    background-color: #6FA600;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    width: 100px;
    border: 1px solid #6FA600;;
}

.btnGreen:hover{
    background-color: #ffffff;
    color: #6FA600;
    box-shadow: 0 0 10px #6FA600;
}

.btnBlue{
    border-radius: 8px;
    background-color: #003366;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    width: 100px;
    border: 1px solid #003366;;
}

.btnBlue:hover{
    background-color: #ffffff;
    color: #003366;
    box-shadow: 0 0 10px #003366;
}

.conteudoAguardandoSorteio{
    text-align: center;
}

.spinner-border{
    width: 5rem;
    height: 5rem;
    border-width: 5px;
}

.conteudo404{
    text-align: center;
    margin-top: 30vh;
}

h2{
    font-size: 50px;
}

.caixaLoginAdm{
    text-align: center;
    margin: auto;
    margin-top: 20vh;
    border: 2px solid #003366;
    background-color: #ffffff;
    width: 30vw;
    border-radius: 8px;
}

#nomeUsuario, #senhaUsuario{
    text-align: center;
    font-size: 26px;
    color: #003366 !important;
    background-color: #ffffff !important;
    width: 22vw !important;
}

.labelInputCredencial{
    margin-top: 10px;
    font-weight: 500;
}

nav{
    margin-top: 2vh;
    text-align: center;
}

.criarSala{
    font-weight: 600;
    font-size: 24px;
    cursor: pointer;
}

hr{
    border: none;
    border-top: 5px solid #003366;
}

.modal-footer{
    justify-content: center;
}

.labelCriarSala{
    display: block;
    font-size: 22px;
    font-weight: 600;
}

.modal-body{
    justify-content: center;
    text-align: center;
}

.table{
    --bs-table-bg: none;
    border-color: #FFF8DC;
    --bs-table-hover-bg: #00336624;
    /* width: 90%; */
    margin: auto;
    table-layout: fixed;
}

th, tr, td {
    text-align: center;
    color: #003366 !important;
}

.statusSalaON {
    font-family: 20px;
    font-weight: 600;
    color: #6FA600 !important;
}

.statusSalaOFF {
    font-family: 20px;
    font-weight: 600;
    color: #B22222 !important;
}

.btnEspiar{
    color: #929292;
    border: 2px solid #929292;
    border-radius: 6px;
    margin-left: 10px;
    height: 30px;
    width: 40px;
}

.btnEspiar:hover{
    color: #ffffff;
    background-color: #929292;
}

.btnRemover{
    color: #B22222;
    border: 2px solid #B22222;
    border-radius: 6px;
    margin-left: 10px;
    height: 30px;
    width: 40px;
}

.btnRemover:hover{
    color: #ffffff;
    background-color: #B22222;
}

.btnCompartilhar {
    color: #1E90FF;
    border: 2px solid #1E90FF;
    border-radius: 6px;
    margin-left: 10px;
    height: 30px;
    width: 40px;
}

.btnCompartilhar:hover{
    color: #ffffff;
    background-color: #1E90FF;
}

.btnVisualizar{
    color: #3CB371;
    border: 2px solid #3CB371;
    border-radius: 6px;
    margin-left: 10px;
    height: 30px;
    width: 40px;
}

.btnVisualizar:hover{
    color: #ffffff;
    background-color: #3CB371;   
}

.fa-solid{
    font-size: 16px;
}

.divBuscaSala{
    display: flex;
   justify-content: center !important;
}

.inputPesquisarSala{
    display: flex;
    justify-content: center;
    width: 50vw;
    border: 2px solid #003366;
    border-radius: 8px !important;
    text-align: center !important;
    background-color: #ffffff !important;
    color: #003366 !important;
}

.imagemQRCODE{
    width: 256px;
    height: 256px;
    border-radius: 8px;
}

.codigoQRCode{
    text-align: center;
}

.sortear{
    text-align: center;
}

.nomeDosParticipantes{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nomeParticipante{
    border: 2px solid #B0C4DE;
    background-color: #B0C4DE;
    color: #003366;
    border-radius: 8px;
    font-weight: 600;
    padding-left: 7px;
    padding-right: 7px;
}