{% extends 'index.html' %}
{% block conteudo %}

<!-- CASO TENHA LOGADO CORRETAMENTE -->
{% if logged %}
<!-- NAV -->
<ul class="nav justify-content-center">
    
  <!-- HOME -->
    <li class="nav-item">
      <a class="nav-link active opcao" aria-current="page" href="{{ url_for('admin') }}">Home</a>
    </li>

    <!-- LIMPAR DB -->
    <li class="nav-item">
      <a class="nav-link active opcao" id="limparDB" href="#">Limpar DB</a>
    </li>

    <!-- SAIR DO MODO ADM -->
     <li class="nav-item">
      <a class="nav-link active opcao" id="exitAdm" href="#">Sair</a>
     </li>

  </ul>
<!-- CONTEUDO -->
<div class="adm">    
    <div class="conteudo-adm">
        <!-- TITULO -->
        <h1 class="titulo-pessoas">Amigos de Oração</h1>
        
        <!-- CARD COM O NOME DAS PESSOAS QUE ESTÃO PARTICIPANDO -->
        <h2 class="nomesParticipando">Nome 1, Nome 2, Nome 3</h2>
         <!-- BOTÃO PARA SORTEAR OS NOMES PARA TODOS OS USUÁRIOS -->
        <button class="btn btn-primary btn-sortear" id="sortearNome">Sortear</button>
    </div>
</div>

<!-- PAGINA DE LOGIN CASO TENHA A CREDENCIAL ERRADA OU SER A PRIMEIRA VEZ -->
{% else %}
<div class="caixa-loggin">
    <div>
      <h1>Área do Administrador</h1>
      <br>
      <!-- INPUT DO NOME DO USUARIO -->
      <label class="label-loggin" for="input-user">Digite o nome de usuário</label>
      <input type="text" class="input-nome-usuario-senha" id="input-user">
      <br><br>
      <!-- INPUPT DA SENHA DO USUARIO -->
      <label class="label-loggin" for="input-pass">Digite a senha</label>
      <input type="password" class="input-nome-usuario-senha" id="input-pass">
    </div>
    <br>
    <!-- BOTÃO DE ACESSO -->
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary btn-loggin" id="btn-loggin">Acessar</button>
    </div>

</div>
{% endif %}
{% endblock conteudo%}