{% extends 'index.html' %}
{% block conteudo %}
<div class="adm">
    <h1>Area do ADM</h1>
    
    <div class="conteudo-adm">
        <!-- TITULO -->
        <h1 class="titulo-pessoas">Amigos de Oração</h1>
        
        <!-- CARD COM O NOME DAS PESSOAS QUE ESTÃO PARTICIPANDO -->
        <h2 class="nomesParticipando">Nome 1, Nome 2, Nome 3</h2>
         <!-- BOTÃO PARA SORTEAR OS NOMES PARA TODOS OS USUÁRIOS -->
        <button class="btn btn-primary btn-sortear" id="sortearNome">Sortear</button>
    </div>
</div>

<script>
    var socket = io('http://192.168.10.28:5000');
    let btnSortearNome = document.getElementById('sortearNome')
    
    btnSortearNome?.addEventListener('click', function() {
        console.log('clicado')
        // ENVIA LISTA VAZIA POIS O BACK IRA BUSCAR AS INFORMAÇÕES NO DB
        socket.emit('enviar_nome', [])
    });
</script>
{% endblock conteudo%}