<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corrente de Oração</title>
    <!-- IMPORTANDO O ESTILO -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="caixa-entrada">
        <label for="nomeOracao">Digite seu nome</label>
        <input type="text" id="nomeOracao">
        <button id="adicionarNome">Adicionar</button>
    </div>

    <!-- IMPORTANDO SCRIPTS -->
     <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>