{% extends 'index.html' %}
{% block conteudo %}

<!-- DIV QUE IRA APARECER QUANDO O USUARIO CADASTRAR SEU NOME -->
<div class="carregamento">
    <div class="pessoaOracao">
        <script>
            var socket = io();

            socket.on('data_updated', function(data) {
                
                // FRONT FICA ATUALIZANDO PARA VERIFICAR QUANDO O SERVIDOR RESPONDEU A ROTA DESEJADA
                axios.get('/pessoaOracao')
                .then(response=>{
                    let data = response.data
                    
                    // ATUALIZA O HTML
                    var elementoPessoaOracao = document.querySelector('.pessoaOracao')
                    var nomePessoaOracao = data.pessoaOracao
                    var meuNome = data.meuNome
                    
                    elementoPessoaOracao.innerHTML = `${meuNome} seu amigo secreto de oração é: ${nomePessoaOracao}`
                    
                })
            });
        </script>
    </div>
</div>
                    
<!-- CASO O USUARIO JÁ TENHA CADASTRADO SEU NOME E TENHA ATUALIZADO A PAGINA -->
{% if nomeCadastrado == True %}
<script>
    document.querySelector('.carregamento').style.display = 'block'
</script>

<!-- CASO SEJA O PRIMEIRO ACESSO DO USUARIO A PAGINA E ELE NÃO TENHA AINDA CADASTRADO SEU NOME -->
{% else %}
<div class="caixa-entrada">
    <label for="nomeOracao">Digite seu nome</label>
    <input type="text" id="nomeOracao">
    <button id="adicionarNome">Adicionar</button>
</div>
{% endif %}

{% endblock conteudo %}