{% extends 'index.html' %}
{% block conteudo %}

<!-- ID PARA IDENTIFICAR QUE ESSA PAGINA É SOMENTE PARA O USUARIO QUE PARTICIPA DO SORTEIO DO AMIGO DE ORAÇÃO SECRETO -->
<input type="hidden" id="usuarioParticipante">
<input type="hidden" id="tokenUser">

<!-- DIV DE CARREGAMENTO ATÉ OS NOMES SEREM SORTEADOS -->
<div class="carregamento">

    <div class="msg">
        "A oração é a respiração da alma. É o segredo do poder espiritual. Nenhum outro recurso da graça pode substituí-la, e a saúde da alma ser conservada."
        <div class="livro">
            Mensagens aos Jovens - Pag. 249
        </div> 
    </div>

    <div class="container-pessoas">
        <!-- TITULO -->
        <h1 class="titulo-pessoas">Esperando Sorteio dos Nomes</h1>
        
        <!-- ANIMAÇÃO DE CARREGAMENTO -->
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status" title="Carregando amigo de fé"></div>
        </div>
    </div>
</div>

<!-- MSG QUE IRA APARECER MOSTRANDO O NOME DA PESSOA QUE O USUÁRIO IRA ORAR -->
<div class="pessoaOracao">
    
    <!-- MENSAGEM DE QUEM A PESSOA IRA ORAR -->
     <div class="oracao badge text-bg-info" id="oracao" style="background-color: #f7e7a3 !important;"></div>
     
</div>
                    
<!-- CASO O USUARIO JÁ TENHA CADASTRADO SEU NOME E TENHA ATUALIZADO A PAGINA -->
 <!-- FICARA CARREGANDO ATÉ RECEBER O NOME DE ORAÇÃO -->
{% if nomeCadastrado == True %}
<script>
    // DEIXA A DIV ONDE CONTEM AS INFORMAÇÕES DE PESSOAS PARTICIPANDO E LOAD VISIVEL
    const eleContainerPessoas = document.getElementsByClassName('container-pessoas')[0]
    eleContainerPessoas.style.display = 'block'
</script>

<!-- CASO SEJA O PRIMEIRO ACESSO DO USUARIO A PAGINA E ELE NÃO TENHA AINDA CADASTRADO SEU NOME -->
{% else %}
<div class="caixa-entrada">
    <label class="titulo-input" for="token-input">Digite o TOKEN da sala</label>
    <input class="token-input" text id="token-input" maxlength="6">

    <label class="titulo-input" for="nomeOracao">Digite seu nome</label>
    <input class="nomeOracao" text id="nomeOracao">

    <div class="d-flex justify-content-center">
        <button class="btn btn-success btn-add-nome" id="adicionarNome">Entrar</button>
    </div>
</div>
{% endif %}

{% endblock conteudo %}