{% extends 'index.html' %}
{% block conteudo %}

<!-- DIV QUE IRA APARECER QUANDO O USUARIO CADASTRAR SEU NOME -->
<div class="carregamento">
    <div class="pessoaOracao">
        <script>
            window.onload =  function(){
                const socket = io('http://127.0.0.1:5000');

                socket.on('receber_nome', (data) => {
                    console.log(data)
                })
            }

            // socket.on('data_updated', function(data) {

            //     // REQUISIÇÃO PARA OBTER AS INFORMAÇÕES DA PESSOA SORTEADA
            //     axios.get('/pessoaOracao')
            //         .then(response=>{
            //             let data = response.data
            //             var nomePessoaOracao = data.pessoaOracao
            //             var meuNome = data.meuNome
            //             var elementoPessoaOracao = document.querySelector('.pessoaOracao')
            //             elementoPessoaOracao.innerHTML = `${meuNome} seu amigo secreto de oração é: ${nomePessoaOracao}`
            //         })
            // });
        </script>
    </div>
</div>
                    
<!-- CASO O USUARIO JÁ TENHA CADASTRADO SEU NOME E TENHA ATUALIZADO A PAGINA -->
{% if nomeCadastrado == True %}
<script>
    document.querySelector('.carregamento').style.display = 'block'
</script>

<!-- CASO SEJA O PRIMEIRO ACESSO DO USUARIO A PAGINA E ELE NÃO TENHA AINDA CADASTRADO SEU NOME -->
{% else %}
<div class="caixa-entrada">
    <label for="nomeOracao">Digite seu nome</label>
    <input type="text" id="nomeOracao">
    <button id="adicionarNome">Adicionar</button>
</div>
{% endif %}

{% endblock conteudo %}