{% extends 'index.html' %}
{% block conteudo %}

{% if qrcode %}
<body>
    <!-- texto de inspiração -->
    <div class="texto" id="textoInspiracao"></div>

    <input type="hidden" id="token" value="{{token}}">

    <!-- div para inserir o nome de participante da sala -->
    <div class="texto inserirNome" id="conteudoInserirNome">
        <label for="inserirNome"><strong>Digite seu nome</strong></label>
        <div>
            <input type="text" id="inserirNome" maxlength="15">
        </div>
        <br>
        <button class="btnGreen" id="entrarSalaOracao">
            Entrar
        </button>
    </div>
</body>
<script>
    
</script>
{% else %}
<body>
    <!-- texto de inspiração -->
    <div class="texto" id="textoInspiracao"></div>
    
    <!-- div para acesso por token -->
    <div class="texto inserirToken" id="conteudoInserirToken">
        <label for="inserirToken"><strong>Digite o TOKEN da sala de oração</strong></label>
        <div>
            <input type="text" id="inserirToken" maxlength="6">
        </div>
        <input type="hidden" id="token">
    </div>
    
    <!-- div para inserir o nome de participante da sala -->
    <div class="texto inserirNome" id="conteudoInserirNome" style="display: none;">
        <label for="inserirNome"><strong>Digite seu nome</strong></label>
        <div>
            <input type="text" id="inserirNome" maxlength="15">
        </div>
        <br>
        <button class="btnGreen" id="entrarSalaOracao">
            Entrar
        </button>
    </div>

    <!-- importando os scripts necessarios para essa template -->
    <!-- <script type="module" src="../static/js/services/participante.js"></script> -->
</body>
{% endif %}
{% endblock %}