{% extends 'index.html' %}

{% block conteudo %}

<body>
    <div class="conteudoAguardandoSorteio">
        <br>
        <div class="nomeSala">Sala de Oração "<strong>{{nomeSala}}</strong>"</div>
        <br>
        <div class="texto"><strong>Aguardando Sorteio</strong></div>
        <br>
        <div class="spinner-border" role="status"></div>
        <div class="revelacao" style="display: none;"></div>

        <input type="hidden" id="token" value="{{tokenSala}}">
        <input type="hidden" id="meuNome" value="{{meuNome}}">
    </div>
</body>

<script type="module">
    import { socket } from "../static/js/index.js"
    var nome = document.querySelector('#meuNome').value
    var token = document.querySelector('#token').value

    socket.emit('entrar_sala_template', {nome: nome, token: token})
</script>

{% endblock %}