{% extends 'index.html' %}

{% block conteudo %}
<nav>
    <div>
        <div id="criarSala" class="criarSala">Criar Sala</div>
    </div>
  </nav>
  <hr>
<body>
    <!-- modal para criar sala -->
    <div class="modal fade" tabindex="-1" id="modalCriarSala">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div>
                  <label for="nomeSala" class="labelCriarSala">Nome da Sala</label>
                  <input type="text" id="nomeSala" class="inputCriarSala" maxlength="20">
              </div>
              <br><br>
              <div>
                <label for="dataRevelacao" class="labelCriarSala">Data da Revelação</label>
                <input type="date" id="dataRevelacao" class="inputCriarSala">
            </div>
            <br><br>
            <div>
                <label for="limiteSala" class="labelCriarSala">Limite de Participantes</label>
                <input type="text" id="limiteSala" class="inputCriarSala" style="width: 30px;" maxlength="2">
            </div>
            <br><br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btnBlue" id="btnCriarSala">Criar Sala</button>
            </div>
          </div>
        </div>
      </div>
    
      <!-- modal para espiar revelação da sala -->
      <div class="modal fade" tabindex="-1" id="modalEspiarSala">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
              <div class="texto" id="nomeSalaEspiar"></div>
            </div>
            <div class="modal-body">
              <div class="texto" id="revelacaoSala"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- restante da pagina -->

      <!-- busca sala -->
      <div class="divBuscaSala">
        <input type="text" placeholder="Pesquise uma sala de oração por: nome, data de criação ou status" class="inputPesquisarSala" id="pesquisarSala">
      </div>
      <br>
      <!-- tabela das salas -->
      <table class="table table-hover" id="tabela">
        <thead>
          <!-- Colunas -->
          <tr>
            <th scope="col" style="width: 10vw;">Nome da Sala</th>
            <th scope="col" style="width: 5vw;">Token</th>
            <th scope="col" style="width: 5vw;">Data de Criação</th>
            <th scope="col" style="width: 5vw;">Data de Revelação</th>
            <th scope="col" style="width: 5vw;">Limite</th>
            <th scope="col" style="width: 5vw;">Status</th>
            <th scope="col" style="width: 6vw;">Ações</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    
      <input type="hidden" value="{{idUsuario}}" id="idAdm">
    <!-- <script type="module" src="../static/js/services/usuario.js"></script> -->
</body>

{%  endblock %}