{% extends 'index.html' %}

{% block conteudo %}
<body>
    <div class="conteudoPainelSala">
        <div class="texto"><strong>Sala de Oração "{{ data['nome'] }}"</strong></div>

        <div class="codigoQRCode">
            <br>
            <div class="texto"><strong>{{ data['token'] }}</strong></div>
            <img class="imagemQRCODE" src="{{ url_for('static', filename='images/'+ data['token'] + '.png') }}" alt="">
        </div>

        <div class="listaParticipantes">
            <br>
            <div class="texto"><strong>Participantes</strong></div>

            <div class="nomeDosParticipantes">

            </div>

        </div>

        <div class="sortear">
            <button class="btnGreen" id="btnSortear">Sortear</button>
        </div>

    </div>

</body>
{% endblock %}