{% extends 'index.html' %}

{% block conteudo %}
{% if sorteio %}
<script>
    alert('Sala fechada você sera redirecionado...')
    window.location = '/'
</script>
{% else %}
<body>
    <div class="conteudoPainelSala">
        <div class="texto"><strong>Sala de Oração "{{ data['nome'].capitalize() }}"</strong></div>

        <div class="codigoQRCode">
            <br>
            <div class="texto" id="tokenSala"><strong>{{ data['token'] }}</strong></div>
            <img class="imagemQRCODE" src="{{ url_for('static', filename='images/'+ data['token'] + '.png') }}" alt="">
        </div>

        <div class="listaParticipantes">
            <br>
            <div class="texto"><strong>Participantes</strong></div>
            <br>
            <div class="nomeDosParticipantes"></div>
            <br>
        </div>
        <div class="sortear">
            <button class="btnGreen" id="btnSortear">Sortear</button>
        </div>
        
    </div>
    
</body>
{% endif %}
{% endblock %}